<a href="/Account/Register" ng-click="NewUser()" class="btn btn-success btn-lg pull-right">Create new</a>
<h2>Users</h2>
<table ng-show="Data.Users.length > 0" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>User name</th>
            <th>Email</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="user in Data.Users">
            <td>{{user.FirstName}} {{user.LastName}}</td>
            <td>{{user.Email}}</td>           
            <td><button ng-click="EditUser(user)" title="Edit user" class="btn btn-sm btn-warning"><i class="fas fa-table"></i></button></td>
        </tr>
    </tbody>
</table> 