
<div class="btn-group-vertical" style="width:100%">
    <button ng-click="SwitchToTournaments()" type="button" class="btn btn-info btn-lg">Tournaments</button>
    <button ng-click="SwitchToTeams()" type="button" class="btn btn-info btn-lg">Teams</button>
    <button ng-click="SwitchToPlayers()" type="button" class="btn btn-info btn-lg">Players</button>   
    <button ng-click="SwitchToUsers()" type="button" class="btn btn-info btn-lg">Users</button>
    <button type="button" class="btn btn-info btn-lg">Groups</button>
    <button type="button" class="btn btn-info btn-lg">Knockout stages</button>
</div>