
@{
    ViewBag.Title = "Index";
}

<h2>Super admin</h2>

@if (Request.IsAuthenticated)
{


    <div class="row" ng-controller="SuperUserController">

        <div class="col-sm-3">

            @Html.Partial("_AdminTools")
        </div>
        <div class="col-sm-9">
            <div ng-show="showTournaments" ng-include="'/Content/Templates/Admin/ListOfTournaments.html'"></div>
            <div ng-include="'/Content/Templates/Admin/ListOfGroups.html'"></div>
            <div ng-include="'/Content/Templates/Admin/ListOfKnockout.html'"></div>
            <div ng-show="showPlayers" ng-include="'/Content/Templates/Admin/ListOfPlayers.html'"></div>
            <div ng-show="showTeams" ng-include="'/Content/Templates/Admin/ListOfTeams.html'"></div>
           
        </div>
    </div>
    <div ng-include="'/Content/Templates/Admin/TournamentForm.html'"></div>
    <div ng-include="'/Content/Templates/Admin/TeamForm.html'"></div>
    <div ng-include="'/Content/Templates/Admin/CreateGroupsTemlate.html'"></div>
    <div ng-include="'/Content/Templates/Admin/PlayerForm.html'"></div>

}
